<launch>

  <!-- 启动Nodelet管理器 -->
  <node pkg="nodelet" type="nodelet" name="radio_referee_mgr" args="manager" output="screen"/>

  <!-- 加载 RadioRefereeParser 插件到管理器 -->
  <node pkg="nodelet" type="nodelet" name="radio_referee_parser" 
        args="load radio_referee_parser/RadioRefereeParser radio_referee_mgr" output="screen">
    
    <!-- 输入话题 -->
    <remap from="/radio/referee_data" to="/radio/raw_data"/>
  </node>
</launch>